.contacts__schedule {
    position: relative;
    cursor: pointer;   
}

.contacts__schedule:hover .dropdown {
    right: 50%;
    animation: visible .5s;
}

.dropdown {
    position: absolute;
    width: 155px;
    height: 65px;
    background-color: white;
    top: 100%;
    right: -7999px;
    transform: translateX(33.5%);
    z-index: 10;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0 0 .2em black;
}

.dropdown:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.triangle {
    width: 20px;
    height: 20px;
    bottom: 100%;
    border-left: 1px solid white;
    border-top: 1px solid white;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    margin-bottom: -10px;
    left: 83.5%;
    box-shadow: -0.1em -0.1em .1em grey;
}

.dropdown__list {
    margin-top: 12px;
} 

.dropdown__item {
    font-family: opensans;
    font-size: 14px;
    font-weight: 300;
    color: black;
    margin-bottom: 5px;
}

.dropdown__item--selected {
    color: #f89513;
    font-weight: 700;
}


@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}