.article--feed {
    margin-left: 110px;
}

.article__text--feedback {
    width: 690px;
}

.article__icon--feedback {
    border-radius: 50%;
}

.article__icon--none {
    display: inline-block;
    content: "";
    background-image: url(../../img/feedback/person3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    border-radius: 50%;
    margin-bottom: 13px;
}

.desc {
    display: block;
    width: 100%;
    height: 170px;
    background-color: #131415;
} 

.desc__text {
    display: block;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
    height: 171px;
    background-image: url(../../img/feedback/pattern.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 218px;
    padding-top: 30px;
}

.desc__text--selected {
    font-weight: 700;
    color: #f89513;
    line-height: 1.5;
}

.caption--feedback {
    margin-top: 25px;
    text-align: left;
}


